<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.zhiyuan51.dev.android.selectimage" >
    <application>
        <activity android:name=".activity.PreviewSelectImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".activity.ChoiceImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>
</manifest>